<div class="container">
  <div class="jumbotron">
	<p>
  		<strong>Username:</strong>
 		 <%= @user.name %>
	</p>
	<br>
	<p>
  		<strong>Email:</strong>
  		<%= @user.email %>
	</p>

	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
   </div>
</div>